<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.reactnativephotoeditor">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:allowBackup="false"
    tools:replace="android:allowBackup"
    android:requestLegacyExternalStorage="true"
    >
    <activity
      android:name=".activity.PhotoEditorActivity"
      android:configChanges="orientation|keyboardHidden|screenSize" />
  </application>
</manifest>
